.descricao{
    border: var(--bd-black);
    border-radius: var(--bd-radius);
    background-color: #5B7475;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.descricao > div{
    margin: 5px;
    font-size: 1.2em;
}