*{
    box-sizing: border-box;
}

:root{
    --bd-black: 2px solid black;
    --bd-radius: 5px
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    

    color: white;
    background: linear-gradient(135deg, #97C6E8, #9DE5F2, #99DBD3 );
}

.info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

h1{
    color: #545454;
}